@font-face {
  font-family: 'SiyamRupali';
  src: url('SiyamRupali.eot');
  src: url('SiyamRupali.woff') format('woff'),
       url('SiyamRupali.ttf') format('truetype'),
       url('SiyamRupali.svg#SiyamRupali') format('svg'),
       url('SiyamRupali.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

* {
	font-family:SiyamRupali;
	margin: 0;
	padding: 0;
}
#options {
	position: fixed;
}
#certificate {
	height: 100vh;
	background:url("frame.webp") no-repeat;
	background-size: 100% 100%;
	width:100%;
	text-align:justify;
	font-size: 1.8vw;
}
.cert-container{
	position: absolute;
  	left: 50%;
  	top: 50%;
    transform: translate(-50%, -50%);
}
.center{
	text-align:center;
}
@media (min-width: 320px) and (max-width: 480px) {
	#certificate{
		/*height: auto;*/
	}
}

@media print{
	#options {
		display:none;
	}
	@page {
		size: A4 landscape;
		
	}
	body {
		padding:0 !important;
	}
	#certificate{
		-webkit-print-color-adjust: exact;
		background-size:100% 100%;
	}
}