@media (orientation: portrait){

    label {
        display: none;
    }

    .unhide{
        display: initial;
        margin-left: 5%;
        font-size: 3vh;
    }

    input[type=text] {
        border-radius: 25px;
        width: 90%;
        height: 10vh;
        margin-bottom: 1vh;
        padding: 3%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 3vh;
        justify-content: center;
        border-color: skyblue;
        outline: none;
        border: 1px solid #5F6368;
    }
    textarea{
        border-radius: 15px;
        width: 90%;
        padding: 1vh;
        height: 25vh;
        margin-bottom: 1vh;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 2vh;
        border-color: skyblue;
        outline: none;
        border: 1px solid #5F6368;
    }

    input[type=text]::placeholder{
        font-size: 3vh;
        justify-content: center;
    }

    input[type=checkbox]{
        height: 4vh;
        width: 4vh;
    }

    div{
        text-align: justify;
        font-size: 3vh;
        margin-left: 5%;
        margin-right: 5%;
        position: relative;
    }

    input[type=submit]{
        font-size: 3vh;
        height: 8vh;
        width: 12vh;
        margin-left: 5%;
        border: .5vh solid skyblue;
        background-color: rgb(192, 230, 245);
    }

    input[type=button]{
        font-size: 1.4vh;
        padding: 1vh;
        border: .5vh solid skyblue;
        background-color: rgb(192, 230, 245);
    }

    input[type=range]{
        -webkit-appearance: none;
        width: 40vw;
        height: 1vh;
        background:rgb(192, 230, 245);
        outline: none;
        margin-bottom: 3vh;
    }
    input[type=range]::-webkit-slider-thumb{
        -webkit-appearance: none;
        border: 3px solid royalblue;
        height: 2vh;
        width: 2vh;
        border-radius: 3px;
        background: royalblue;
        cursor: pointer;
    }

    select {
        margin-top: 2vh;
        margin-bottom: 2vh;
        background-color: rgb(192, 230, 245);
        color: black;
        padding: 1vh;
        font-size: 2vh;
    }

    h1 {
        margin-top: 3vh;
        margin-bottom: 3vh;
        font-size: 4vh;
        margin-left: 5%;
    }

    .suggestion{
        margin-left: 0%;
        margin-right: 0.5vh;
    }
    
    #suggestions{
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (orientation: landscape){

    label{
        margin-left: 5%;
        font-size: 3vh;
    }
    input[type=text] {
        border-radius: 25px;
        width: 60%;
        height: 2.5vh;
        margin-bottom: 2vh;
        padding: 3vh;
        margin-left: 5%;
        margin-right: 35%;
        font-size: 3vh;
        justify-content: center;
        border-color: skyblue;
        outline: none;
        border: 1px solid #5F6368;
    }

    input[type=text]::placeholder{
        font-size: 3vh;
        justify-content: center;
    }

    input[type=checkbox]{
        height: 3vh;
        width: 3vh;
    }

    div{
        text-align: justify;
        font-size: 3vh;
        margin-left: 5%;
        margin-right: 5%;
        position: relative;
    }

    input[type=submit]{
        font-size: 2.5vh;
        height: 7vh;
        width: 10vh;
        margin-left: 5%;
        border: .25vh solid skyblue;
        background-color: rgb(192, 230, 245);
    }

    input[type=button]{
        font-size: 2vh;
        padding: 0.5vh;
        border: .25vh solid skyblue;
        background-color: rgb(192, 230, 245);
    }

    input[type=range]{
        margin-bottom: 2vh;
    }

    
    select {
        margin-top: 2vh;
        margin-bottom: 2vh;
        background-color: rgb(192, 230, 245);
        color: black;
        padding: 1vh;
    }

    textarea{
        border-radius: 15px;
        width: 60%;
        height: 25vh;
        padding: 0.8vh;
        flex-wrap: wrap;
        margin-bottom: 2vh;
        margin-left: 5%;
        margin-right: 35%;
        font-size: 2vh;
        border-color: skyblue;
        outline: none;
        border: 1px solid #5F6368;
    }

    h1 {
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
        font-size: 8vh;
        margin-left: 5%;
    }

    .suggestion{
        margin-left: 0%;
        margin-right: 0.5vw;
    }

    #suggestions{
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 1%;
    }
}
