@font-face {
    font-family: 'SiyamRupali';
    src: url('SiyamRupali.eot');
    src: url('SiyamRupali.woff') format('woff'),
         url('SiyamRupali.ttf') format('truetype'),
         url('SiyamRupali.svg#SiyamRupali') format('svg'),
         url('SiyamRupali.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
      font-family:SiyamRupali;
      margin: 0;
      padding: 0;
  }

@media (orientation: portrait){

    textarea,input[type=text] {
        border-radius: 15px;;
        width: 30vw;
        height: 2vw;
        margin-bottom: 2vh;
        padding: 2vh;
        font-size: 2vh;
        border-color: skyblue;
        outline: none;
        border: 1px solid #5F6368;
    }

    textarea::placeholder, input[type=text]::placeholder{
        font-size: 2vh;
        justify-content: center;
    }

	

    div{
        text-align: justify;
        font-size: 3vh;
        margin-left: 5%;
        margin-right: 5%;
        position: relative;
    }

    input[type=submit]{
        font-size: 2.5vh;
        height: 7vh;
        width: 10vh;
        margin-left: 5%;
        border: .25vh solid skyblue;
        background-color: rgb(192, 230, 245);
    }

    input[type=button]{
        display: inline;
        width: 8vh;
        height: 6vh;
        font-size: 2vh;
        padding: 0.5vh;
        border: .25vh solid skyblue;
        text-align: center;
        line-height: 1em;
        background-color: rgb(192, 230, 245);
    }

    h1 {
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
        font-size: 8vh;
        margin-left: 5%;
	}
	
    
    span{
        font-size: 3vw;
    }

    input[type=radio]{
        width: 3vw;
        height: 3vw;
    }

    
    .add{
        background-color: darkgreen !important;
        color: white;
        font-size: 4vh !important;
    }

    .remove{
        float: right;
        background-color: red !important;
        color: white;
        font-size: 4vh !important;
        border: none !important;
    }

    .qBox{
        padding-left: 4%;
        margin-top: 5%;
        border: 1px solid black;
    }

    .question{
        width: 80%;
    }
	

    ul{
        list-style-type: none;
    }

    ul::marker{
        display: none;
    }

    li{
        list-style-type: none;
    }

    li::marker{
        list-style-type: none;
        display: none;
    }

}

@media (orientation: landscape){
    textarea,input[type=text] {
        border-radius: 15px;;
        width: 30vw;
        height: auto;
        margin-bottom: 2vh;
        padding: 2vh;
        font-size: 2vh;
        border-color: skyblue;
        outline: none;
        border: 1px solid #5F6368;
    }

    textarea::placeholder, input[type=text]::placeholder{
        font-size: 2vh;
        justify-content: center;
    }

	

    div{
        text-align: justify;
        font-size: 3vh;
        margin-left: 5%;
        margin-right: 5%;
        position: relative;
    }

    input[type=submit]{
        font-size: 2.5vh;
        height: 7vh;
        width: 10vh;
        margin-left: 5%;
        border: .25vh solid skyblue;
        background-color: rgb(192, 230, 245);
    }

    input[type=button]{
        display: inline;
        width: 8vh;
        height: 6vh;
        font-size: 2vh;
        padding: 0.5vh;
        border: .25vh solid skyblue;
        text-align: center;
        line-height: 1em;
        background-color: rgb(192, 230, 245);
    }

    h1 {
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
        font-size: 8vh;
        margin-left: 5%;
	}
	
    p{
        font-size: 4vh;
    }

    span{
        font-size: 3vh;
    }

    
    .add{
        background-color: darkgreen !important;
        color: white;
        font-size: 4vh !important;
    }

    .remove{
        float: right;
        background-color: red !important;
        color: white;
        font-size: 4vh !important;
        border: none !important;
    }

    .qBox{
        padding-left: 4%;
        margin-top: 5%;
        border: 1px solid black;
    }

    .question{
        width: 60%;
    }
	

    ul{
        list-style-type: none;
    }

    ul::marker{
        display: none;
    }

    li{
        list-style-type: none;
    }

    li::marker{
        list-style-type: none;
        display: none;
    }

}
