@font-face {
    font-family: 'SiyamRupali';
    src: url('SiyamRupali.eot');
    src: url('SiyamRupali.woff') format('woff'),
         url('SiyamRupali.ttf') format('truetype'),
         url('SiyamRupali.svg#SiyamRupali') format('svg'),
         url('SiyamRupali.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
      font-family:SiyamRupali;
      margin: 0;
      padding: 0;
  }
 
    

button {
	height: 40px;
	width: 70px;
	background-color: skyblue;
	border: 2px solid black;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 3px;
}

#options {
	position: fixed;
	margin-bottom: 20px;
	justify-content: center;
}
div#certificate {
	width: 60vw;
	height: 42.42vw;
	background:url("frame.webp") no-repeat;
	background-size: 100% 100%;
	font-size: 2.8vw;
	text-align:justify;
}

@media (orientation: portrait){
	div#certificate{
		font-size: 2.5vw !important;
		width: 100vw !important;
		height: 70.70vw !important;
	}
}

@media (orientation: landscape){
	div#certificate{
		font-size: 2.8vh !important;
		width: 113vh !important;
		height: 80vh !important;
	}
}


.center{
	text-align:center;
}

@media print{
	#options {
		display:none;
	}
	@page {
		size: A4 landscape;
		
	}
	body {
		padding:0 !important;
	}
	div#certificate{
		-webkit-print-color-adjust: exact !important;
		background-size:100vw 100vh !important;
		background:url("frame.webp") no-repeat;
		width:100vw !important;
		height: 100vh !important;
		text-align:justify !important;
		font-size: xx-large !important;
	}
}



